.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  background-color: rgb(147, 169, 235);
  font-size: medium;
  margin-top: 100px;
}
.aa{
  background-color: rgb(147, 178, 189);
  margin-right: 15.5%;
  margin-left: 15.5%;
  font-size: larger;
  font-weight: 500;
  color: darkmagenta;
}
.nbutton{
  position: absolute;
  right:22rem;
  color: green;
  font-size: 14px;
  
}

a{
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  border: 3px solid black;
}
.cross{
  position: absolute;
  right:19rem;
  color:crimson;
}


.cont2 {
  background-color: coral;
  text-decoration: line-through;
  text-decoration-thickness:3px;
}
